	table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      padding: 8px; /* Add some padding to cells for better appearance */
      text-align: center;
    }
    .row-link {
      text-decoration: none; /* Remove default underline from links */
      color: #333; /* Set link color */
    }
	body {
      background-image: url('images/cityscape.png');
      background-size: auto 100%; /* Set the height to 100% and let the width adjust automatically */
      background-repeat: repeat-x; /* Repeat the background image horizontally */
      background-position: center; /* Center the background image horizontally */
      height: 100vh; /* Set the height of the body to 100% of the viewport height */
      margin: 20px; /* Remove default margin to ensure full coverage */
      background-color: #C4DFF0; /* Set the background color to a light gray shade */
	  font-family: sans-serif; /* Change the font family */
	  background-attachment: fixed; /* Fix the background image */
      background-position: bottom; /* Position it at the bottom of the viewport */
    /* Add a container div for the highlighted text */
	}
    }
	.navbar {
      /* Styles for the navigation bar */
      background-color: #FF67BB;
      width: 100%;
      text-align: center;
	  border-radius: 30px 30px 0 0;
    }
	.content {
      /* Your main content styles here */
      background-color: rgba(255, 255, 255, 0.8);
      padding: 50px;
      border-radius: 0 0 30px 30px;
      /* Ensure that your content doesn't grow beyond the viewport height */
      flex: 1;
    }
    .copyright {
      /* Copyright notice styles here */
      margin-bottom: 20px; /* Add some space between content and copyright notice */
	  text-align: right;
    }