	table {
      border-collapse: collapse;
      width: 100%;
    }
	.logo {
      display: block; /* Make it a block-level element for better layout */
      margin: 0 auto; /* Center the image horizontally */
      max-width: 100%; /* Ensure the image doesn't exceed its natural size */
    }
	
    th, td {
      padding: 8px; /* Add some padding to cells for better appearance */
      text-align: center;
    }
    .row-link {
      text-decoration: none; /* Remove default underline from links */
      color: #333; /* Set link color */
    }
	body {
      background-image: url('images/cityscape.png');
      background-size: auto 100%; /* Set the height to 100% and let the width adjust automatically */
      background-repeat: repeat-x; /* Repeat the background image horizontally */
      background-position: center; /* Center the background image horizontally */
      height: 100vh; /* Set the height of the body to 100% of the viewport height */
      margin: 20px; /* Remove default margin to ensure full coverage */
      background-color: #C4DFF0; /* Set the background color to a light gray shade */
	  font-family: sans-serif; /* Change the font family */
	  background-attachment: fixed; /* Fix the background image */
      background-position: bottom; /* Position it at the bottom of the viewport */
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* Make sure the content stretches to at least the height of the viewport */
	}
	.container {
      display: flex;
      flex: 1; /* Allow the content to take up the remaining space */
    }
	.navbar {
      /* Styles for the navigation bar */
      background-color: #FF67BB;
      width: 100%;
      text-align: center;
	  border-radius: 30px 30px 0 0;
    }
	.sidebar {
      flex: 1; /* Adjust the ratio based on your preference */
      background-color: #f0f0f0; /* Set the background color of the sidebar */
      padding: 20px;
    }
	.content {
      /* Your main content styles here */
      background-color: rgba(255, 255, 255, 0.4);
      padding: 50px;
      border-radius: 0 0 30px 30px;
      /* Ensure that your content doesn't grow beyond the viewport height */
      flex: 1;
    }
    .copyright {
      /* Copyright notice styles here */
      margin-bottom: 20px; /* Add some space between content and copyright notice */
	  text-align: right;
	  color: #FF67BB;
    }